<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    <style>
        .site-header {
            min-width: 100%;
            height: 200px;
            margin-bottom: 5px;
            padding-top: 30px;
            background: #54c5ee no-repeat center;
            background-size: cover;
            color: #ffffff;
        }
    </style>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Username">Фамилия</label>
                        <input type="text" name="surname" value="{{surname}}" class="form-control" id="Username"
                            placeholder="Введите фамилию" required>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Имя</label>
                        <input type="text" name="name" value="{{name}}" class="form-control" id="Username"
                            placeholder="Введите имя" required>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Отчество</label>
                        <input type="text" name="patronymic" value="{{patronymic}}" class="form-control" id="Username"
                            placeholder="Введите отчество" required>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Класс</label>
                        <input type="text" name="class_writing" value="{{class_writing}}" class="form-control"
                            id="Username" placeholder="Введите класс" required>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Класс участия</label>
                        <input type="text" name="class_take" value="{{class_take}}" class="form-control" id="Username"
                            placeholder="Введите класс участия" required>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Учебный год (в формате гггг - гггг)</label>
                        <input type="text" name="year" value="{{year}}" class="form-control" id="Username"
                            placeholder="Введите учебный год" required>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Школа</label>
                        <select class="form-select" aria-label="Default select example" name="schools">
                            <option selected>{{sch[0][0]}}</option>
                            {% for i in sch[1:] %}
                            <option value="{{i[0]}}">{{i[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Статус</label>
                        <select class="form-select" value={{username}} aria-label="Default select example"
                            name="status">
                            <option selected>{{stat[0]}}</option>
                            {% for i in stat[1:] %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Password">Олимпиада</label>
                        <select class="form-select" aria-label="Default select example" name="olympiads">
                            <option selected>{{olim[0][0]}}</option>
                            {% for i in olim[1:] %}
                            <option value="{{i[0]}}">{{i[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Username">Учитель</label>
                        <select class="form-select" aria-label="Default select example" name="teachers">
                            <option selected>{{teach[0][0]}}</option>
                            {% for i in teach[1:] %}
                            <option value="{{i[0]}}">{{i[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer pt-4">
                        <button type="submit" class="btn btn-info mx-auto w-100">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>